    <!--------  alertDialog POPUP    ----->
    <div data-role="popup" id="alertDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="min-width: 300px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1 style="margin-left: 20px; margin-right: 20px;"></h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <div id="popup-alert-text">
                <div class="content"></div>
                <div id="popup-alert-btn" class>
                    <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Ok</a>
                </div>
            </div>
        </div>
    </div>
    <!-----  END alertDialog   ----->