    <!--------  alertDialog POPUP    ----->
    <div data-role="popup" id="alertDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width: 400px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1></h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <div id="popup-alert-text">
                <div class="content"></div>
                <div id="popup-alert-btn">
                    <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Ok</a>
                </div>
            </div>
        </div>
    </div>
    <!-----  END alertDialog   ----->