    <!--------  confirmDialog POPUP    ----->
    <div data-role="popup" id="confirmDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="min-width: 200px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1></h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <div id="popup-confirm-text">
                <div class="content"></div>
                <div id="popup-confirm-btn">
                    <a href="#" class="ok" data-role="button" data-inline="true" data-rel="back" data-theme="c">Ok</a>
                    <a href="#" class="cancel" data-role="button" data-inline="true" data-rel="back" data-theme="b">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-----  END confirmDialog   ----->