<div data-role="popup" id="popup-refer2">
    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Refer a friend</h1>
        <h3 class="ui-title"><span>Please enter your phone number in your profile to be able to use our refferal program:</span><br><br>
            <i class="icon-link"></i><a href="{{ base_url }}security-edit"> My Account </a>
        </h3>
    </div>
    <div data-role="content" data-theme="pizza-popup" class="ui-corner-bottom ui-content">
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="none" data-theme="b" data-go="yes">OK</a>
    </div>
</div>