nbproject
.buildpath
.project
.settings
.idea
.svn
*~
*_log
*.log
application/logs/*
application/cache/*
application/config/*
templates/gmap/*
templates/pdf/*
templates/printer_files/*
templates/qrcode/*
!.gitkeep
