<div data-role="footer" data-position="fixed">
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <a class="btn btn-grey no-margin" data-role="button" data-rel="back">
                Back
            </a>
        </div>
        <div class="ui-block-b">
            <a class="btn btn-blue submit-order no-margin" href="#" data-role="button">
                Add to cart
                <span class="right-arrow-icon"></span>
            </a>
        </div>
    </div><!-- /grid-a -->
</div>