
<div class="get-space">
        <form id="form-singin">
            <span id="login-error" class="hide" style="color: red; font-weight: 700;">Invalid username or password.</span>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="text-basic">Email Address:</label>
                </div>
                <div class="ui-block-b">
                    <input type="text" name="user" id="user" value=""  />
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <label for="text-basic">Password:</label>
                </div>
                <div class="ui-block-b">
                    <input type="password" name="pass" id="pass" value=""  />
                </div>
            </div>
            <div>
                <button data-theme="a" id="sign-in" data-position="{{ pageposition }}" type="button">Login</button>
                <a href="{{ base_url }}reset">Recover Password</a>
            </div>
        </form>

        <a href="#" data-role="button" data-theme="a" id="loginButton"><i class="icon icon-facebook-sign"></i> Login with facebook</a>
        <a href="#" data-role="button" data-theme="a" id="googleLoginButton"><i class="icon icon-google-plus-sign"></i> Login with google</a>

</div>