{% extends 'layout.html.twig' %}

{% block content %}
<script>
    var sms = '{{ sms }}';
</script>


<div data-role="content">
    {% include 'profile-form.html.twig' %}  
</div>
{% endblock %}

{% block footerjs %}

{% endblock %}