{% extends 'layout.html.twig' %}

{% block content %}
<script>
    var sms = '{{ sms }}';
</script>


<div data-role="content">
    {% include 'profile-form.html.twig' %}  
    
</div>
{% endblock %}

{% block footerjs %}

    {#<script type="text/javascript" src="{{ base_url }}assets/js/account/edit.js"></script>#}
{% endblock %}