{% extends 'layout.html.twig' %}

{% block content %}


    <div data-role="content">
    <div class="menu-background-image" id="main-content">
        <div class="clear"></div>
        {#<div class="get-space">#}
            {#<p>You have <strong>{{ userPoints }} points.</strong></p>#}
        {#</div>#}
        <div data-role="controlgroup" class="get-space" data-theme="a">
            <a data-role="button" href="{{ base_url }}security/edit" data-transition="none" data-direction="reverse">Edit Profile</a>
            <a data-role="button" href="{{ base_url }}orders" data-transition="none" data-direction="reverse">My Orders</a>
            <a data-role="button" onclick="$('#popup-refer').popup('open')">Refer-A-Friend</a>
            <a data-role="button" href="{{ base_url }}security/logout" data-transition="none" data-direction="reverse">Logout</a>
        </div>

        <!-- Reffer a friend popup -->
        {% include ('page/popups/menuReferFriend.html.twig') %}
        <!-- END Reffer a friend popup -->

    </div><!-- /content -->

{% endblock content %}