{% extends 'layout.html.twig' %}

{% block content %}

    <div data-role="content">
        <div class="get-space single-options">

            <div id="referal-div" >

                <a href="{{ base_url }}menu" data-role="button" data-inline="true" data-theme="a">Register Later</a>
                <a href="{{ base_url }}security-edit" data-role="button" data-inline="true" data-theme="a">Register Now</a>
                <p>Hi,</p>
                <p>Congratulation, {{ user.first_name }} {{ user.last_name }} has send you 3 points .</p>
                <p>You can use this points to buy loyalty products.</p>
                <p>Thanks,</p>
                <p>Restuarant Admin</p>

            </div>


            {#<div data-role="footer" data-position="fixed">#}
                {#<a class="btn btn-grey ui-link" data-rel="back" data-transition="none">#}
                    {#<span class="left-arrow-icon"></span>#}
                    {#Back#}
                {#</a>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}