{% extends 'layout.html.twig' %}

{% block content %}
    <div data-role="content">
        <div id="main-content">
            <div class="get-space">{{ page.data.description }}</div>
        </div>
    </div>
{% endblock content %}