<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TAKEAWAYRESTAURANT</title>
</head>
<body>
<table width="780" cellpadding="0" cellspacing="0" border="0" align="center">
  <tr>
    <td><div style="width:780;padding:0;margin:auto;">
        <table width="780" cellpadding="0" cellspacing="0">
          <tr>
            <td height="90" style="background:#ffffff;border-left:1px solid gainsboro;border-right:1px solid gainsboro;border-top:1px solid gainsboro;border-bottom:1px solid gainsboro;"><img src="[[LOGO]]" /></td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" width="780" style="margin:10px 0 0 0;">
          <tr>
            <td valign="top">
					<div style="background:gainsboro;padding:10px 20px 10px 5px;text-align:left;font:15px Arial;color:#000000;">
               <strong style="color:#000000">Subject : </strong> [[EMAIL_HEADING]]</div>
              <div style="border-left:1px solid gainsboro;border-right:1px solid gainsboro;padding:0px 0;text-align:center;border-top:1px solid gainsboro;border-bottom:1px solid gainsboro;">
                <div style="font:12px Arial;color:#000000;padding-left:10px;" align="left">[[EMAIL_CONTENT]]</div>
              </div>
              <div style="border-bottom: 1px solid gainsboro;"/></td>
          </tr>
        </table>
        <table width="780" cellpadding="0" cellspacing="0" style="margin:15px 0 10px 0;">
          <tr>
            <td height="35" style="background:#ffffff;border-left:1px solid gainsboro;border-right:1px solid gainsboro;border-top:1px solid gainsboro;border-bottom:1px solid gainsboro;" align="center"><a target="_blank" style="color:#000000;font:11px Arial;text-decoration:none;line-height:25px;"> Copyright&nbsp;&copy;&nbsp;2012 takeawayrestaurant.com All Rights Reserved. </a></td>
          </tr>
        </table>
      </div>
	</td>
  </tr>
</table>
</body>
</html>